<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
	<import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
	<import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
	<import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>
	<import class="ch.qos.logback.core.ConsoleAppender"/>

	<!-- Setup logging to the logs directory and daily compression of log files -->
	<appender name="FILE" class="RollingFileAppender">
		<file>logs/latest.log</file>
		<rollingPolicy class="TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy-MM-dd}.zip</fileNamePattern>
		</rollingPolicy>
		<encoder class="PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss} %-7([%level]) %-40logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Setup console logging -->
	<appender name="STDOUT" class="ConsoleAppender">
		<encoder class="PatternLayoutEncoder">
			<pattern>%logger{0} [%level] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Set Jetty logging level to INFO instead of DEBUG -->
	<logger name="org.eclipse.jetty" level="INFO"/>

	<root level="debug">
		<appender-ref ref="FILE"/>
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
